/*Text-Color*/
a,
.blueTextColor{
    color: #289BC8;
}
.turquoiseTextColor{
    color: #01ADA1 !important;
}
.greenTextColor{
    color: #3DC585;
}
.yellowTextColor{
    color: #DACA41 !important;
}
.redTextColor{
    color: #D8531B !important;
}
.whiteTextColor{
    color: #FFFFFF
}

a:hover,
.fake-link:hover{
    color: #006d97;
    text-decoration: underline;
}

.fake-link{
    color: #289BC8;
    cursor: pointer;
}

/*Background-Color*/
.blueBgColor{
    background-color: #289BC8;
}
.turquoiseBgColor{
    background-color: #01ADA1 !important;
}
.greenBgColor{
    background-color: #3DC585 !important;
}
.lightGreenBgColor{
    background-color: #99DB55;
}
.yellowBgColor{
    background-color: #DACA41 !important;
}
.orangeBgColor{
    background-color: #DCA838;
}
.redBgColor{
    background-color: #D8531B;
}

.whiteBGColor{
    background-color: #FFFFFF !important;
}

.btn-primary{
    transition: all .2s;
    background-color: #289BC8 !important;
    border-color: #2881ae;
}

.btn-primary:hover{
    background-color: #006d97 !important; /*darkblue*/
}

.navbar{
    border-bottom: 1px solid #e5e5e5;
}

/*Content*/
.container{
    min-height: calc(100vh - 143px);
    padding-top:20px;
}

#main-alert.alert{
    position: fixed;
    right: 30px;
    top: 30px;
    display:none;
    z-index: 2000;
}

#main-alert #main-alert-text{
    padding-right:40px;
}

#main-alert #close-main-alert{
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 20px;
    color: inherit;
}

footer{
    text-align: center;
    background-color:#282a2b;
    padding:18px;
    color:#FFFFFF;
}
