<div class="modal fade bd-example-modal-lg" id="help-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Help</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Identifier</h5>
                <ul>
                    <li>
                        To recognize and support Android and iOS, identifiers are declared in capital letters and with underscores.
                    </li>
                    <li>
                        Identifiers are automatically capitalized and space characters are replaced by an underscore.
                    </li>
                </ul>
                <hr/>
                <h5>Translation</h5>
                <ul>
                    <li>
                        For formatted strings use %d for Integer and %s for strings (For iOS it will be automatically escaped in %@).
                    </li>
                </ul>
                <hr/>
                <h5>Export</h5>
                <ul>
                    <li>
                        The export escapes all characters for iOS and Android. Following this <a href="https://www.w3schools.com/howto/howto_js_copy_clipboard.asp" target="_blank">link</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>