{% extends "layout.html" %}

{% block title %}Components{% endblock %}

{% block head %}
    {{ super() }}
    <!--other stuff here-->
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5>Components</h5>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
            </tr>
            </thead>
            <tbody id="component-table-body">
            <tr>
                <td><i>auto</i></td>
                <td><input class="form-control" id="new-component-name" type="text"
                           placeholder="e. g. Profil Controller"></td>
                <td>
                    <button type="button" class="btn btn-success" id="component-add-button"><i
                            class="fas fa-plus-circle"></i></button>
                </td>
            </tr>

            {% for c in components %}
                <tr id="component-row-{{ c.id }}">
                    <td>{{ c.id }}</td>
                    <td>
                        <input class="form-control"
                               id="component-input-name-{{ c.id }}"
                               type="text"
                               placeholder="Login Controller"
                               value="{{ c.name }}"
                               disabled="disabled">
                    </td>
                    <td>
                        <button type="button"
                                id="component-button-edit-{{ c.id }}"
                                class="btn btn-warning edit-button"
                                data-value="{{ c.id }}">
                            <i class="far fa-edit"></i>
                        </button>
                        <button type="button"
                                id="com-button-{{ c.id }}"
                                class="btn btn-success com-button"
                                data-value="{{ c.id }}"
                                style="display: none">
                            <i class="far fa-check-circle"></i>
                        </button>
                        <button type="button"
                                id="del-button-{{ c.id }}"
                                class="btn btn-danger del-button"
                                data-value="{{ c.id }}">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/components.js') }}"></script>
{% endblock %}