{% extends "layout.html" %}

{% block title %}Identifiers{% endblock %}

{% block head %}
    {{ super() }}
    <!--other stuff here-->
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5>Identifiers</h5>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Component <i>(opt.)</i></th>
                <th scope="col">Description <i>(opt.)</i></th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody id="identifier-table-body">
            <tr>
                <td><i>auto</i></td>
                <td scope="row">
                    <input class="form-control"
                           id="new-identifier-name"
                           type="text"
                           placeholder="A_UNIQUE_IDENTIFIER">
                </td>
                <td>
                    <select class="form-control" id="new-identifier-component">
                        <option value="" selected></option>
                        {% for c in all_components %}
                            <option value="{{ c.id }}">{{ c.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <input class="form-control"
                           id="new-identifier-description"
                           type="text">
                </td>
                <td>
                    <button type="button"
                            class="btn btn-success"
                            id="identifier-add-button">
                        <i class="fas fa-plus-circle"></i>
                    </button>
                </td>
            </tr>

            {% for i in identifiers %}
                <tr id="identifier-row-{{ i.id }}">
                    <td>{{ i.id }}</td>
                    <td scope="row">
                        <input class="form-control"
                               id="name-input-{{ i.id }}"
                               type="text"
                               value="{{ i.name }}"
                               disabled>
                    </td>
                    <td>
                        <select class="form-control" id="component-select-{{ i.id }}" disabled="disabled">
                            <option value="" {% if i.component_id %}selected{% endif %}></option>
                            {% for c in all_components %}
                                <option value="{{ c.id }}"
                                        {% if i.component_id == c.id %}selected{% endif %}>{{ c.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input class="form-control"
                               id="description-input-{{ i.id }}"
                               type="text"
                               value="{{ i.description if i.description }}"
                               disabled>
                    </td>
                    <td>
                        <button type="button"
                                id="edit-button-{{ i.id }}"
                                data-id="{{ i.id }}"
                                class="btn btn-warning edit-button">
                            <i class="far fa-edit"></i>
                        </button>
                        <button type="button"
                                id="com-button-{{ i.id }}"
                                class="btn btn-success com-button"
                                data-id="{{ i.id }}"
                                style="display: none">
                            <i class="far fa-check-circle"></i>
                        </button>
                        <button type="button"
                                id="del-button-{{ i.id }}"
                                data-id="{{ i.id }}"
                                class="btn btn-danger del-button">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/identifiers.js') }}"></script>
{% endblock %}
