<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
              integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
              crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/circular-progress.css') }}">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}{% endblock %} | Translation Software | TrainYourTeam</title>
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-light bg-light mb-4" style="display:block">
    <a class="navbar-brand" href="/" style="margin-right:0">
        <img src="{{ url_for('static', filename='img/TrainUrTeam-Logo-WithBoarder-300px.png') }}" width="30" height="30"
             alt="TrainYourTeam Logo" title="TrainYourTeam Logo"/>
        Translation Software
    </a> | Project: <i>{{ project.name }}</i>

</nav>

<div class="container">
{% block content %}{% endblock %}
</div>

<footer>
    Copyright 2018 TrainYourTeam | All Rights Reserved | Made with <i class="fa fa-heart" style="color: #d65327"></i> in
    Munich
</footer>

<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>


<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% block script %}{% endblock %}
</body>
</html>