{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
    <!--other stuff here-->
{% endblock %}

{% block content %}
    <div class="row mb-4">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Identifiers
                </div>
                <div class="card-body">
                    <h1 class="text-center" style="font-size: 6.5rem; font-weight: 300">{{ number_of_identifiers }}</h1>
                </div>
                <div class="card-footer">
                    <a href="/identifier" class="card-link"><i class="far fa-edit mr-2"></i>Modify</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Components
                </div>
                <div class="card-body">
                   <h1 class="text-center" style="font-size: 6.5rem; font-weight: 300">{{ number_of_components }}</h1>
                </div>
                <div class="card-footer">
                    <a href="/component" class="card-link"><i class="far fa-edit mr-2"></i>Modify</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Number of languages
                </div>
                <div class="card-body">
                   <h1 class="text-center" style="font-size: 6.5rem; font-weight: 300">{{ number_of_languages }}</h1>
                </div>
                <div class="card-footer">
                    <a href="" class="card-link" data-toggle="modal" data-target="#add-lang-modal"><i class="fas fa-plus-circle mr-2"></i>Add new</a>
                </div>
            </div>
        </div>

    </div>

    <hr class="mb-4"/>

    <div class="row mb-4">
        {% for l in project.languages %}
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top"
                         src="{{ l.language.flag_image_link }}" alt="German Flag">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ l.language.name }}
                            {% if l.is_default %}
                                | <span class="redTextColor">DEFAULT</span>
                            {% endif %}
                        </h5>
                        <p class="card-text">
                            400 Translations
                        </p>
                        <div class="progress mb-3">
                            <div class="progress-bar progress-bar-striped redBgColor" role="progressbar"
                                 style="width: 60%"
                                 aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">60%
                            </div>
                        </div>
                        <a href="/translation/{{ l.language.code }}" class="card-link"><i class="fas fa-language mr-2"></i>Translate</a>
                        <a href="#" class="card-link redTextColor" data-toggle="tooltip" data-placement="bottom"
                           title="Translation isn't complete"><i class="fas fa-file-export mr-2"></i>Export</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

    <!-- Modal -->
    <div class="modal fade" id="add-lang-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Add new Language</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Coming soon...
                    <!--<form>
                        <h5>Map existing language to project</h5>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Language:</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>German</option>
                                <option>Englisch</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>

                        <hr>

                        <h5>Add new language to project</h5>
                        <div class="form-group">
                            <label for="inputAddress">Code</label>
                            <input type="text" class="form-control" id="input-new-lang-code" placeholder="en_EN">
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Name</label>
                            <input type="text" class="form-control" id="input-new-lang-name" placeholder="English">
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Flaglink</label>
                            <input type="text" class="form-control" id="input-new-lang-flaglink"
                                   placeholder="https://www.free-country-flags.com/countries/United_Kingdom/1/medium/United_Kingdom.png">
                            <a href="https://www.free-country-flags.com" target="_blank" class="mt-2"><i
                                    class="fas fa-external-link-alt mr-2"></i>https://www.free-country-flags.com</a>
                        </div>

                    </form>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" disabled>Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}