{% extends "layout.html" %}

{% block title %}{{ language.name }} Translations{% endblock %}

{% block head %}
    {{ super() }}
    <!--other stuff here-->
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <div id="lang-code-helper" style="display:none">{{ language.code }}</div>
            <div class="float-left">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img alt="{{ language.name }} Flag"
                             src="{{ language.flag_image_link }}"
                             style="height: 16px"
                             class="mr-2">
                        {{ language.name }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for l in other_languages %}
                            <a class="dropdown-item" href="/translation/{{ l.code }}">
                                <img alt="{{ l.name }} Flag"
                                     src="{{ l.flag_image_link }}"
                                     style="height: 16px"
                                     class="mr-2">
                                {{ l.name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="float-right">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-file-export mr-2"></i>Export
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item export-button" data-lang="{{ language.code }}" data-platform="iOS" data-toggle="modal" data-target="#export-modal" style="cursor: pointer"><i class="fab fa-apple mr-2"></i>iOS</a>
                        <a class="dropdown-item export-button" data-lang="{{ language.code }}" data-platform="Android" data-toggle="modal" data-target="#export-modal" style="cursor: pointer"><i class="fab fa-android mr-2"></i>Android</a>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Identifier</th>
                <th scope="col">{{ language.name }} Translation</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody id="translation-table-body">
            <tr>
                {% if unused_identifier|length == 0 %}
                    <td colspan="7" class="greenTextColor text-center">
                        Great - every identifier is translated!
                    </td>
                {% else %}
                    <td><i>auto</i></td>
                    <td><i>auto</i></td>
                    <td>
                        <select class="form-control" id="new-ident-id">
                            {% for i in unused_identifier %}
                                <option value="{{ i.id }}">{{ i.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <textarea class="form-control" id="new-translation-string" rows="2" placeholder="Translation"></textarea>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success" id="translation-add-button">
                            <i class="fas fa-plus-circle"></i>
                        </button>
                    </td>
                {% endif %}
            </tr>

            {% for t in translations %}
                <tr id="translation-row-{{ t.id }}">
                    <td>{{ t.id }}</td>
                    <td>{{ t.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td>
                        <span class="d-inline-block"
                              tabindex="0"
                              style="width:100%"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="{{ t.identifier.component.name + ": " if t.identifier.component.name}} {{ t.identifier.description if t.identifier.description }}">
                            <select class="form-control" disabled="disabled" style="pointer-events: none;">
                                <option>{{ t.identifier.name }}</option>
                            </select>
                        </span>
                    </td>
                    <td>
                        <textarea class="form-control" rows="2" disabled="disabled">{{ t.text }}</textarea>
                    </td>
                    <td>
                        <!--<button type="button"
                                id="edit-button-{{ t.id }}"
                                class="btn btn-warning edit-button"
                                data-value="{{ t.id }}">
                            <i class="far fa-edit"></i>
                        </button>
                        <button type="button"
                                id="com-button-{{ t.id }}"
                                class="btn btn-success com-button"
                                data-value="{{ t.id }}"
                                style="display: none">
                            <i class="far fa-check-circle"></i>
                        </button>-->
                        <button type="button"
                                id="del-button-{{ t.id }}"
                                class="btn btn-danger del-button"
                                data-value="{{ t.id }}">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'modals/export-modal.html' %}
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/export.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/translation.js') }}"></script>
{% endblock %}